<html>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <!--<script src="/../static/js/bundledCode3.js"></script>
   	<script data-main="../static/js/appCopy.js" src="../static/js/require.js"></script>-->
   	
   	<script src="./static/js/testing.js"></script>
   	<script src="./static/js/output.json"></script>

    Enter the job you want to apply for:
    <input id = "jobInput"></input>
	</br>
    Enter the location where you want the jobs to be: 
    <input id = "locationInput" type = "text"></input>
    <button id = "jobButton" type = "text" onclick = "openTabs()">Enter</button>
</html>