<html>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
   	
   	<script src="./static/js/webApp.js"></script>

   	<div>To change what job you want to search for and where you want the jobs to be, go to your downloads folder, open "my-download.json", and change the values in the JSON file. 
 	</br>
   	</br>
   	Then switch to the terminal, press control + c, and type in "node app.js". 
   	</br>
   	</br>
   	After that, switch to the tab that says "localhost:8000" and hard refresh the page by pressing command + shift + r. 
   	</br>
   	</br>
   	Once that has finished, hard refresh this page by pressing command + shift + r and click "Go" to run the program.</div>
   	</br>
   	</br>
   	(Make sure you have your resume ready!)
   	</br>
    <button id = "jobButton" type = "text" onclick = "openTabs()" width = 200%>Go</button>
    <a></a>
</html>